<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Infinity Math</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />
    <link rel="icon" type="image/png" href="/tinylogo.png" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
</head>
<body>
    <div id="header">
        <div id="title">Infinity Math</div>
        <div id="subtitle">A Statistical Tool for Infinity</div>
    </div>
    <div id="content">
        <strong>Enter Die Roll Details:</strong>
        <form method="get" id="form">
            <div class="model">
                <strong>First model:</strong>
                <p>
                    Action:
                    <select id="a_action_select" name="attacker_action">
                        <option value="attack"{% ifequal "attack" attacker_action %} selected="yes"{% endifequal %}>Regular Attack (allows an armor save)</option>
                        <option value="hack"{% ifequal "hack" attacker_action %} selected="yes"{% endifequal %}>Opposed Hacking (no save, criticals matter)</option>
                        <option value="dodge"{% ifequal "dodge" attacker_action %} selected="yes"{% endifequal %}>Other Skill (no save, criticals don't matter)</option>
                    </select>
                </p>
                <p class="a_target">
                    Attribute (e.g. BS):
                    <select name="attacker_target">
                        {% for i in target_values %}<option value="{{ i }}"{% ifequal i attacker_target %} selected="yes"{% endifequal %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                    Modifiers (excluding cover):
                    <select name="attacker_target_mod">
                        {% for i in target_mods %}<option value="{{ i }}"{% ifequal i attacker_target_mod %} selected="yes"{% endifequal %}>{{ i|stringformat:"+d" }}</option>
                        {% endfor %}
                    </select>
                </p>
                <p class="a_weapon">
                    B:
                    <select name="attacker_dice">
                        {% for i in burst_values %}<option value="{{ i }}"{% ifequal i attacker_dice %} selected="yes"{% endifequal %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                    Damage:
                    <select name="attacker_damage">
                        {% for i in damage_values %}<option value="{{ i }}"{% ifequal i attacker_damage %} selected="yes"{% endifequal %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                    Ammunition:
                    <select name="attacker_ammo">
                        <option value="0"{% ifequal 0 attacker_ammo %} selected="yes"{% endifequal %}>Normal</option>
                        <option value="1"{% ifequal 1 attacker_ammo %} selected="yes"{% endifequal %}>Double Action</option>
                        <option value="2"{% ifequal 2 attacker_ammo %} selected="yes"{% endifequal %}>Explosive</option>
                        <option value="3"{% ifequal 3 attacker_ammo %} selected="yes"{% endifequal %}>T2</option>
                        <option value="4"{% ifequal 4 attacker_ammo %} selected="yes"{% endifequal %}>Armor Piercing</option>
                        <option value="5"{% ifequal 5 attacker_ammo %} selected="yes"{% endifequal %}>AP+DA Integrated</option>
                        <option value="6"{% ifequal 6 attacker_ammo %} selected="yes"{% endifequal %}>AP+EXP Integrated</option>
                    </select>
                </p>
                <p class="a_defense">
                    Armor (or BTS as a positive value):
                    <select name="attacker_armor">
                        {% for i in armor_values %}<option value="{{ i }}"{% ifequal i attacker_armor %} selected="yes"{% endifequal %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                    Has cover?
                    <input name="attacker_cover" type="checkbox"{% if attacker_cover %} checked="true"{% endif %} />
                </p>
            </div>
            <div class="model">
                <strong>Second Model:</strong>
                <p>
                    Action:
                    <select id="d_action_select" name="defender_action">
                        <option value="nothing"{% ifequal "nothing" defender_action %} selected="yes"{% endifequal %}>No Reaction (normal roll for first model)</option>
                        <option value="attack"{% ifequal "attack" defender_action %} selected="yes"{% endifequal %}>Regular Attack (allows an armor save)</option>
                        <option value="hack"{% ifequal "hack" defender_action %} selected="yes"{% endifequal %}>Opposed Hacking (no save, criticals matter)</option>
                        <option value="dodge"{% ifequal "dodge" defender_action %} selected="yes"{% endifequal %}>Other Skill (no save, criticals don't matter)</option>
                    </select>
                </p>
                <p class="d_target">
                    Attribute (e.g. BS):
                    <select name="defender_target">
                        {% for i in target_values %}<option value="{{ i }}"{% ifequal i defender_target %} selected="yes"{% endifequal %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                    Modifiers (excluding cover):
                    <select name="defender_target_mod">
                        {% for i in target_mods %}<option value="{{ i }}"{% ifequal i defender_target_mod %} selected="yes"{% endifequal %}>{{ i|stringformat:"+d" }}</option>
                        {% endfor %}
                    </select>
                </p>
                <p class="d_weapon">
                    Damage:
                    <select name="defender_damage">
                        {% for i in damage_values %}<option value="{{ i }}"{% ifequal i defender_damage %} selected="yes"{% endifequal %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                    Ammunition:
                    <select name="defender_ammo">
                        <option value="0"{% ifequal 0 defender_ammo %} selected="yes"{% endifequal %}>Normal</option>
                        <option value="1"{% ifequal 1 defender_ammo %} selected="yes"{% endifequal %}>Double Action</option>
                        <option value="2"{% ifequal 2 defender_ammo %} selected="yes"{% endifequal %}>Explosive</option>
                        <option value="3"{% ifequal 3 defender_ammo %} selected="yes"{% endifequal %}>T2</option>
                        <option value="4"{% ifequal 4 defender_ammo %} selected="yes"{% endifequal %}>Armor Piercing</option>
                        <option value="5"{% ifequal 5 defender_ammo %} selected="yes"{% endifequal %}>AP+DA Integrated</option>
                        <option value="6"{% ifequal 6 defender_ammo %} selected="yes"{% endifequal %}>AP+EXP Integrated</option>
                    </select>
                </p>
                <p class="d_defense">
                    Armor (or BTS as a positive value):
                    <select name="defender_armor">
                        {% for i in armor_values %}<option value="{{ i }}"{% ifequal i defender_armor %} selected="yes"{% endifequal %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                    Has cover?
                    <input name="defender_cover" type="checkbox"{% if defender_cover %} checked="true"{% endif %} />
                </p>
            </div>
            <div id="calculate">
                <input type="submit" value="Calculate Results" />
            </div>
        </form>
        {% if show_results %}
        <div id="results">
            <strong>Results:</strong>
            <div id="chart">
                {% spaceless %}
                {% for r in defender_results reversed %}
                    <div class="d{{ forloop.counter }}" style="width: {{ r|stringformat:".2f" }}%;"
                         title="{{ r|stringformat:".2f" }}%"></div>
                {% endfor %}
                <div class="draw" style="width : {{ draw|stringformat:".2f" }}%;" title="{{ draw|stringformat:".2f" }}%"></div>
                {% for r in attacker_results %}
                    <div class="a{{ forloop.revcounter }}" style="width: {{ r|stringformat:".2f" }}%;"
                         title="{{ r|stringformat:".2f" }}%"></div>
                {% endfor %}
                {% endspaceless %}
            </div>
            <table id="key">
                <tr>
                    <th>&nbsp;</th>
                    <th>Outcome</th>
                    <th>Probability</th>
                </tr>
                {% for r in defender_results reversed %}
                <tr>
                    <td><div class="d{{ forloop.counter }}"></div></td>
                    {% ifequal defender_action "attack" %}<td>The first model receives {{ forloop.revcounter }} wound{{ forloop.revcounter|pluralize }}</td>
                    {% else %}{% if forloop.last %}<td>The second model's action succeeds.</td>{% else %}<td>The second model's action critically succeeds.</td>{% endif %}{% endifequal %}
                    <td>{{ r|stringformat:".2f" }}%</td>
                </tr>
                {% endfor %}
                <tr>
                    <td><div class="draw"></div></td>
                    <td>Nothing happens.</td>
                    <td>{{ draw|stringformat:".2f" }}%</td>
                </tr>
                {% for r in attacker_results %}
                <tr>
                    <td><div class="a{{ forloop.revcounter }}"</td>
                    {% ifequal attacker_action "attack" %}<td>The second model receives {{ forloop.counter }} wound{{ forloop.counter|pluralize }}</td>
                    {% else %}{% if forloop.first %}<td>The first model succeeds.</td>{% else %}<td>The first model's action critically succeeds.</td>{% endif %}{% endifequal %}
                    <td>{{ r|stringformat:".2f" }}%</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
    <div id="footer">
        <p>This site Copyright &copy; 2011 by Steven Barker. Infinity game rules are a copyright of Corvus Belli S.L.L.</p>
    </div>
</div>
</body>
</html>