<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Infinity Math</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />
</head>
<body>
    <div id="header">
        <div id="title">Infinity Math</div>
        <div id="subtitle">A Statistical Tool for Infinity</div>
    </div>
    <div id="content">
        <h3>Enter Face to Face roll details here:</h3>
        <form method="get" id="form">
            <input type="hidden" name="test_type" value="BS" />
            <p>
                Attacker's B:
                <select name="attacker_dice">
                    {% for i in range5 %}<option value="{{ i }}"{% ifequal i attacker_dice %} selected="yes"{% endifequal %}>{{ i }}</option>
                    {% endfor %}
                </select>
                Attacker's modified BS:
                <select name="attacker_target">
                    {% for i in range20 %}<option value="{{ i }}"{% ifequal i attacker_target %} selected="yes"{% endifequal %}>{{ i }}</option>
                    {% endfor %}
                </select>
                Attacker's modified Damage:
                <select name="attacker_damage">
                    {% for i in range20 %}<option value="{{ i }}"{% ifequal i attacker_damage %} selected="yes"{% endifequal %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                Defender's modified BS:
                <select name="defender_target">
                    {% for i in range20 %}<option value="{{ i }}"{% ifequal i defender_target %} selected="yes"{% endifequal %}>{{ i }}</option>
                    {% endfor %}
                </select>
                Defender's modified Damage:
                <select name="defender_damage">
                    {% for i in range20 %}<option value="{{ i }}"{% ifequal i defender_damage %} selected="yes"{% endifequal %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <input type="submit" value="Calculate Results" />
            </p>
        </form>
        {% if show_results %}
        <div id="results">
            <h3>Results</h3>
            <p id="key">
                <strong>Key:</strong>
                <img src="Red1px.gif" /> = Attacker wounded, <img src="White1px.gif" /> = No wounds, 
                {% for w in attacker_wounds %}<img src="Green1px{{ forloop.revcounter }}.gif" />{% endfor %} = Defender Wounded (lighter shades indicate more wounds)
            </p>
            <div id="chart">
                <img src="Red1px.gif" width="{% widthratio defender_wounds 1 500 %}px" title="1 wound: {% widthratio defender_wounds 1 100 %}%" /><img src="White1px.gif" width="{% widthratio draw 1 500 %}px" title="No wounds: {% widthratio draw 1 100 %}%"/>{% for w in attacker_wounds %}<img src="Green1px{{ forloop.revcounter }}.gif" width="{% widthratio w 1 500 %}px" title="{{ forloop.counter }} wounds: {% widthratio w 1 100 %}%" />{% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    <div id="footer">
        <p>This site Copyright &copy; 2011 by Steven Barker. Infinity game rules are a copyright of Corvus Belli S.L.L.</p>
    </div>
</div>
