<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Infinity Math</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />
    <link rel="icon" type="image/png" href="/tinylogo.png" />
</head>
<body>
    <div id="header">
        <div id="title">Infinity Math</div>
        <div id="subtitle">A Statistical Tool for Infinity</div>
    </div>
    <div id="content">
        <strong>Enter Die Roll Details:</strong>
        <form method="get" id="form">
            <input type="hidden" name="test_type" value="BS" />
            <p>
                <strong>Active model:</strong>
            </p>
            <p>
                Attribute (e.g. BS):
                <select name="attacker_target">
                    {% for i in range20 %}<option value="{{ i }}"{% ifequal i attacker_target %} selected="yes"{% endifequal %}>{{ i }}</option>
                    {% endfor %}
                </select>
                Modifiers<span class="attacker_bs"> (excluding cover)</span>:
                <select name="attacker_target_mod">
                    {% for i in target_mods %}<option value="{{ i }}"{% ifequal i attacker_target_mod %} selected="yes"{% endifequal %}>{{ i|stringformat:"+d" }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <span class="attacker_bs">B:
                <select name="attacker_dice">
                    {% for i in range5 %}<option value="{{ i }}"{% ifequal i attacker_dice %} selected="yes"{% endifequal %}>{{ i }}</option>
                    {% endfor %}
                </select>
                Damage:
                <select name="attacker_damage">
                    {% for i in range20 %}<option value="{{ i }}"{% ifequal i attacker_damage %} selected="yes"{% endifequal %}>{{ i }}</option>
                    {% endfor %}
                </select>
                Armor:
                <select name="attacker_armor">
                    {% for i in armor_values %}<option value="{{ i }}"{% ifequal i attacker_armor %} selected="yes"{% endifequal %}>{{ i }}</option>
                    {% endfor %}
                </select>
                Has cover?
                <input name="attacker_cover" type="checkbox"{% if attacker_cover %} checked="true"{% endif %} />
            </p>
            <p>
                <strong>Reacting Model:</strong>
            </p>
            <p>
                Attribute (e.g. BS):
                <select name="defender_target">
                    {% for i in range20 %}<option value="{{ i }}"{% ifequal i defender_target %} selected="yes"{% endifequal %}>{{ i }}</option>
                    {% endfor %}
                </select>
                Modifiers<span class="attacker_bs"> (excluding cover)</span>:
                <select name="defender_target_mod">
                    {% for i in target_mods %}<option value="{{ i }}"{% ifequal i defender_target_mod %} selected="yes"{% endifequal %}>{{ i|stringformat:"+d" }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                Damage:
                <select name="defender_damage">
                    {% for i in range20 %}<option value="{{ i }}"{% ifequal i defender_damage %} selected="yes"{% endifequal %}>{{ i }}</option>
                    {% endfor %}
                </select>
                Armor:
                <select name="defender_armor">
                    {% for i in armor_values %}<option value="{{ i }}"{% ifequal i defender_armor %} selected="yes"{% endifequal %}>{{ i }}</option>
                    {% endfor %}
                </select>
                Has cover?
                <input name="defender_cover" type="checkbox"{% if defender_cover %} checked="true"{% endif %} />
            </p>
            <p>
                <input type="submit" value="Calculate Results" />
            </p>
        </form>
        {% if show_results %}
        <div id="results">
            <p>
                <strong>Results:</strong>
            </p>
            <p id="key">
                <strong>Key:</strong>
                <img src="Red1px.gif" /> = Active model wounded, <img src="White1px.gif" /> = No wounds, 
                {% for w in attacker_wounds %}<img src="Green1px{{ forloop.revcounter }}.gif" />{% endfor %} = Reacting model wounded (lighter shades indicate more wounds)
            </p>
            <div id="chart">
                <img src="Red1px.gif" width="{% widthratio defender_wounds 1 500 %}px" title="1 wound: {% widthratio defender_wounds 1 100 %}%" /><img src="White1px.gif" width="{% widthratio draw 1 500 %}px" title="No wounds: {% widthratio draw 1 100 %}%"/>{% for w in attacker_wounds %}<img src="Green1px{{ forloop.revcounter }}.gif" width="{% widthratio w 1 500 %}px" title="{{ forloop.counter }} wounds: {% widthratio w 1 100 %}%" />{% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    <div id="footer">
        <p>This site Copyright &copy; 2011 by Steven Barker. Infinity game rules are a copyright of Corvus Belli S.L.L.</p>
    </div>
</div>
